/* .ativos{}*/

body{

    background-color: #707b9e;
    display: grid; 
    max-width: 1200px;
}
h1{
    display: grid;margin: 10px; 
    flex-direction: row;
}
h3{
    display: grid;margin: 10px;
    flex-direction: row;
}
/* script{} */
   
