/* .ativos{}*/


h1{
    display: grid;margin: 10px; 
    flex-direction: row;
}
h3{
    display: grid;margin: 10px;
    flex-direction: row;
}
section{
display: grid;margin: 10px;
width: 1200px;
height: 100%;

}
/* script{} */
   
